*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , 'sans-serif';

}
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    align-items: center;
    background: rgb(142, 194, 178);
}

section::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    /* transform: translateX(120%); ; */
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: rgb(98, 23, 141);
    transition: 1s;
           
}
section.active::before
{
    background : rgb(56, 15, 53); 
    box-shadow:0 0 0 1200px rgb(36, 214, 140);
}


header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

header .logo
{
    font-size: 1.5em;
    color: rgb(20, 5, 77);
    letter-spacing: 2px;
    text-decoration: none;
    transition: 0.5s;
    font-weight: 600;
    transform-origin: right;
}


header .toggle{
    position: relative;
    width: 30px;
    height: 30px ;
    background: url(images/menu1.png);
    filter: invert(1);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: 30px ;
    cursor: pointer;

}
header .toggle.active{
    background: url(c.jpg);
    filter: invert(0);
    background-repeat: no-repeat ;
    background-position: center;
    background-size: 25px;
}
.girl{
    position: absolute;
    z-index: 2;
    /* bottom: 0; */
    right: 150px;
    max-width: 350px;
    /* height: 100px; */

}
.content{
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s;
   
    
}

.content .contentBx 
{
    position: relative;
    max-width: 600px;
}
.content .contentBx h4{
    font-weight: 400;
    color: rgb(168, 26, 104);
    font-size: 1.5em;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.content .contentBx h2
{
    font-size: 4em;
    line-height: 1em;
    color:rgb(98, 23, 141);
}
.content .contentBx h3
{
    font-size: 2em;
    line-height: 1.5em;
    color: rgb(98, 23, 141);
    font-weight: 300;
}
.content .contentBx p
{
    font-size: 1em;
   margin: 10px 0 20px;
    color: rgb(98, 23, 141);
    font-weight: 300 ;
}
.content .contentBx a
{
    /* font-size: 1em; */
    padding: 10px 20px;
    color: cornsilk;
    font-weight: 500;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
    background: crimson;
    letter-spacing: 2px;


}

.content .contentBx a:last-child{
    background:  rgb(8, 235, 140);
    color: black;

}
.content .contentBx a:hover
{
    letter-spacing: 4px;
    background: blanchedalmond;
    color: black;
}
 .sci{
    /* position: absolute; */
    /* bottom: 0px; */
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: 0.5s;
    /* transform-origin: right; */
    
    /* width: 60px; */
 
}
.sci li
{
    list-style: none;
    /* width: 10px;
    height: 10px; */
    margin-right: 15px;
    /* margin: 10px 0 5px 0; */


}
.sci li a
{
    display: inline-block;
    /* width: 150px;
    height: 150px; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border: 3px solid cornsilk;
    border-radius: 60%;

  /* display: block; */
  /* justify-content: center;
  align-items: center;
  border: 2px solid rgb(243, 242, 239);
  border-radius: 70%; */

}
.sci li:hover a{
    background: cornsilk;
}
.sci li a img
{
    
  filter: invert(1);
  transform: scale(0.6); 
}

.sci li:hower a img 
{
    filter: invert(0);
    background: cornsilk;
    
}
.footer.active.sci
{
    transform: scale(0);
    transform-origin: left;

}
.banner.active .content
{
    
    transform: scale(0);
    transform-origin: left;
}
.banner.active .logo 
{
 
    transform: scale(0);
    transform-origin: left;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center ;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 100px;
    transition: 0.5s;
    z-index: 200;
    opacity: 0; 
     visibility: hidden; 

}
.banner.active .menu
{
    visibility: visible;
    opacity: 1;
}

.menu li{
    list-style: none;
}

.menu li a{

    color: rgb(1, 41, 22);
    text-decoration: none;
    font-size: 1.5em;
    padding: 5px 10px;
    display: inline-block;
    transition: 0.2s ease-in-out;

}
.menu li a:hover{
          letter-spacing: 6px;
          background: wheat;
          color: #000;
}


.intro{
    position: relative;
    width: 100%;
    min-height: 300vh;
    padding: 0 100px;
    display: flex;
    /* align-items: justify; */
    background: rgb(243, 239, 239);
}
.intro .container h2
{
    /* font-weight: 400; */
    color:  rgb(190, 21, 55);
    font-size: 3em;
    left: 500px;
    top: 70px;
    line-height: 1em;
    padding:  10px;
    margin-bottom: 10px;  
    position: absolute; 
    /* text-align: justify; */
}
.myPic{
    display: inline-block;
    /* margin-bottom: 100px; */
    top: 40px;
    position: absolute;
    
}

.intro .container p{
    left: 500px;
    top: 10%;
    position:absolute;
    line-height: 1em;
    font-size: 1em;
    font-size: 20px;
    color: rgb(53, 54, 53);
  

}

.intro .container .skills h2
{
    color:  rgb(190, 21, 55);
    font-size: 3em;
    left: 500px;
    top: 380px;
    line-height: 1em;
    padding:  10px;
    margin-bottom: 10px;  
    position: absolute; 
}

.intro .container .skills p{
    left: 520px;
    top: 25%;
    position:absolute;
    line-height: 1em;
    /* font-size: 1em; */
    font-size: 20px;
    color: rgb(53, 54, 53);
}

.intro .container #work h2
{

    color:  rgb(163, 7, 46);
    font-size: 3em;
    left: 200px;
    top: 700px;
    line-height: 1em;
    padding:  10px;
    margin-bottom: 10px;  
    position: absolute; 

}

div.gallery {
   
    margin: 1px 0px;
    position: relative;
    /* position: sticky; */
    border: 1px solid rgb(240, 146, 146);
    float: left;
    top: 43%;
    width: 350px;

  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }

  div.desc {
    padding: 15px;
    text-align: center;
  }


  .footer {
    position: relative;
    display: inline-block;
    left: 0;
    bottom: 1px;
    /* top: 50%; */
    clear: both;
    height: 200px;
    width: 100%;
    background-color:  rgb(98, 23, 141);
    color: rgb(103, 9, 146);
    text-align: center;
 
  }